.home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.intro {
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 1.3rem;
    max-width: 90%;
}

.title_text {
    font-size: 3rem;
    text-align: center;
}

.whys {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.buttons {
    background-color: #fff;
    border: green solid 2px;
    border-radius: 10px;
    height: 2.5rem;
    font-size: 1rem;
}

.buttons:hover {
    background-color: #739e2d;
    color: #fff;
}

@media screen and (width > 700px){
    .whys {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .text {
        max-width: 50%;
    }
}