.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-svg {
  animation: spinner-rotate 2.5s linear infinite;
}


@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-path {
  stroke: #000;
}