.test_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img_test {
  border-radius: 50%;
  width: 4.6rem;
  height: 4.6rem;
  overflow: hidden;
}

@media screen and (width > 700px) {
  .test_card {
    flex-direction: row;
    
  }
}